<!doctype html>
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entegris</title>
    <link rel="stylesheet" href="/static/assets/css/app.css">
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />-->
  </head>
  <body>


    {{>body}}


  <script data-main="/static/assets/js/main" src="/static/assets/js/lib/requirejs/require.js"></script>

  </body>
</html>