body {
  color: $black;
}

a {
  color: $red;
  line-height: 1.3;
  outline-width: 0;

  &:hover {
    color: $blue;
  }

  &.eyebrow {
    &:hover {
      text-decoration: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: $red;
}

h2 {
  color: $black;
  font-weight: 600;
  line-height: 1.6;
  padding-bottom: 0.5rem;
}
