// Color Variables
$grey: #a9a6a2;
$lt-grey: #e8e8e8;
$dk-grey: #72706d;
$black: #393630;
$dark-green: #4a7a0c;
$light-green: #83d615;
$red: #b31a1b;
$beige: #f5f1eb;
$dk-beige: darken($beige, 8%);
$off-white: #fbfbf9;
$blue: #2a6d83;
$grey-border: darken($lt-grey, 10%);
$white: #fff;
